{% extends 'main\base.html' %}
{% load static %}
{% block content %}
<h2 class="center-align">Languages I Know 💪</h2>
<div class="container languages-collection">
    <ul class="collection">
        {% for language in languages %}
        <li class="collection-item avatar">
            <img src="{%static language.icon %}" alt={{language.alt}} class="circle">
            <span class="title"><b>{{language.title}}</b></span>
            <p class="languages-collection-items">{{language.description}}</p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}