{% extends 'main\base.html' %}

{% block content %}
<h2 class="center-align">Personal Projects 🐱‍👤</h2>
<div class="container project-collapsible">
    <ul class="collapsible popout">

        {% for project in projects %}
            <li>
                <div class="collapsible-header"><i class="material-icons">{{project.icon}}</i><b>{{project.title}}</b></div>
                <div class="collapsible-body"><span class="project-collapsible-items">{{project.description}}
                {% if project.link is not None %}
                    <br><a href={{project.link}}>Link to Project</a>
                {% endif %}
                </span></div>
            </li>
        {% endfor %}

        <li>
            <div class="collapsible-header"><i class="material-icons">link</i><b>Checkout Out More Personal Projects...</b></div>
            <div class="collapsible-body"><span class="project-collapsible-items">GitHub : <a href="https://github.com/ashishpradhan01?tab=repositories">More Projects</a></span></div>
        </li>
    </ul>
</div>
{% endblock content %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });
</script>
{% endblock script %}